<template>
  <b-container fluid>
    <b-container>
      <b-row align-h="center" class="my-3">
        <b-col class="text-left" cols="4">
          <label for="">Filtrar empleado por: </label>
          <b-form-select v-model="filterFieldSelected" :options="filterOptions">
          </b-form-select>   
        </b-col>    
      </b-row>
      <b-row align-h="center" class="mb-3">
        <b-col cols="4">
          <b-form-input v-model="filterValue" type="text" placeholder="Ingrese valor a buscar"></b-form-input>
        </b-col>        
      </b-row>
      <b-row align-h="center" class="mb-3">
        <b-col>
          <b-button variant="info" @click="showModal()"> <b-icon icon="plus"></b-icon> Nuevo Empleado</b-button>
        </b-col>
      </b-row>
    </b-container>
    
    <b-table 
      show-empty
      id="tbl-employees" 
      hover 
      :items="filteredItems" 
      :fields="fields" 
      responsive 
      small 
      table-variant="success"
    >
      <template #empty="">
        <p>Sin registros para mostrar</p>
      </template>
      <template #cell(state)="data">
        {{data.item.state ? 'ACTIVO' : 'INACTIVO'}}
      </template>
      <template #cell(actions)="data">
        <b-icon class="btn-item-option" icon="pencil-square" scale="1.7" variant="primary" @click="editEmployee(data.item._id)"></b-icon>
        <b-icon class="btn-item-option" icon="trash" scale="1.7" variant="danger" @click="deleteEmployee(data.item._id)"></b-icon>
      </template>
    </b-table>
    <pagination-nav v-if="items.length > 0"/>
    <ModalForm></ModalForm>
  </b-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import PaginationNav from "../../components/PaginationNav.vue";
import ModalForm from "./components/ModalForm.vue";

export default defineComponent({
  components: {
    PaginationNav,
    ModalForm
  },
  data(){
    return { 
      fields: [
        {key:"identificationType",label:"Tipo Identificación", filter: true},
        {key:"identification",label:"Identificación", filter: true},
        {key:"firstSurname",label:"Primer Apellido", filter: true},
        {key:"secondSurname",label:"Segundo Apellido", filter: true},
        {key:"firstName",label:"Primer Nombre", filter: true},
        {key:"otherNames",label:"Otros Nombres", filter: true},
        {key:"country",label:"País", filter: true},
        {key:"email",label:"Email", filter: true},
        {key:"area",label:"Área"},
        {key:"admissionDate",label:"Fecha Ingreso"},
        {key:"registrationDate",label:"Fecha Registro"},
        {key:"state",label:"Estado"},
        {key:"actions",label:"Acciones"},
      ],
      filterFieldSelected: '',
      filterValue: '',
      filterOptions: [
        {value: '', text: 'Seleccione columna...'}
      ]
    }
  },
  computed: {
    items(){
      return this.$store.state.listEmployees
    },
    filteredItems(){
      if(this.filterFieldSelected && this.filterValue){
        return this.$store.state.listEmployees.filter((e:any) => eval(`e.${this.filterFieldSelected}`).includes(this.filterValue.toUpperCase()))
      }
      return this.$store.state.listEmployees      
    }
  },
  async mounted(){
    await this.getListEmployees()     
  },
  methods: {
    async getListEmployees(){
      this.loadOptionsFilter()      
      await this.$store.dispatch('getEmployees')      
    },
    loadOptionsFilter(){
      let tmpOpt:any[] = []
      this.fields.map(e => {
        if(e.filter){
          tmpOpt.push({
            value: e.key,
            text: e.label
          }) 
        }
      })      
      tmpOpt = tmpOpt.sort((a,b) => (a.text>b.text) ? 1 : ((a.text<b.text) ? -1 : 0))
      tmpOpt.forEach(element => {
        this.filterOptions.push(element)
      });
    },
    showModal(){
      this.$store.dispatch('toggleModal')
    },
    async editEmployee(id: string){
      await this.$store.dispatch('getDataEmployee',id) 
      this.$store.dispatch('setEditing',true)
      this.$store.dispatch('toggleModal')
    },
    deleteEmployee(id: string){
      this.$store.dispatch('deleteEmployee',id).then(response => {        
        this.$bvToast.toast(response, {
          title: 'Administración de Empleados',
          autoHideDelay: 5000,
          variant: 'success',
          toaster: 'b-toaster-bottom-center'
        })
      }).catch(err => {
        this.$bvToast.toast(err.response.data, {
          title: 'BootstrapVue Toast',
          autoHideDelay: 5000,
          variant: 'danger',
          toaster: 'b-toaster-bottom-center'
        })
      })
    }
  }
})
</script>

<style lang="scss" scoped>

#filter-form{
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
}
.table-condensed{
  font-size: 8px;
}
.btn-item-option{
  margin-right: 0.7rem;
  cursor: pointer;
}
</style>
