

<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Módulo Administración de Empleados</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
  </b-navbar>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  
})
</script>

<style>

</style>