<template>
    <b-button-group>
        <b-button variant="outline-success" :disabled="disableBtnPrev" @click="firstPage()"><<</b-button>
        <b-button variant="outline-success" :disabled="disableBtnPrev" @click="prevPage()"><</b-button>
        <b-button v-for="pageNum in pages" :key="pageNum" @click="getListEmployees(pageNum)" :variant="currentPage == pageNum ? 'success' : 'outline-success'">{{pageNum}}</b-button>
        <b-button variant="outline-success" @click="nextPage()">></b-button>
        <b-button variant="outline-success">>></b-button>
    </b-button-group>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    data(){
        return {            
            disableBtnPrev: false,
            disableBtnFirst: false
        }
    },
    computed:{
        pages():number{
            return this.$store.state.pages
        },
        currentPage():number{
            this.disableBtnPrev = this.$store.state.currentPage === 1 ? true : false
            this.disableBtnFirst = this.$store.state.currentPage === 1 ? true : false
            return this.$store.state.currentPage
        }
    },
    methods: {
        getListEmployees(page?:number){            
            this.$store.dispatch('getEmployees',page)
        },
        firstPage(){
            this.getListEmployees()
        },
        prevPage(){
            this.getListEmployees(this.$store.state.currentPage - 1)
        },
        nextPage(){      
            this.getListEmployees(this.$store.state.currentPage + 1)
        }
    }
})
</script>

<style>

</style>