<template>
  <div id="app">
    <Navbar id="navbar"/>
    <div id="main-content">
      <router-view/>
    </div>
  </div>
</template>
<script lang="ts">
  
  import Navbar from './components/Navbar.vue';
  export default {
    components: {
      Navbar
    }
  }
</script>

<style lang="scss">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,input,select{
  font-size: 0.8rem !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

#navbar{
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: #2c3e50 !important;
  border-bottom: solid 1px 42b983;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

#main-content{
  width: 100%;
  height: calc(100vh - 50px);
  // color: #42b983;
}

</style>
