

<template>
  <b-modal v-model="$store.state.showModal" hide-footer :title="titleModal" size="md" no-close-on-backdrop>
    <b-form :class="!isValid ? 'was-validated' : ''">
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-1"
            label="Tipo de Identificación:"
            label-for="input-1"
          >
            <b-form-select
              id="input-1"
              v-model="form.identificationType"
              placeholder="Tipo de Identificación"
              :options="$store.state.listIdentificationTypes"
              required
            ></b-form-select>
          </b-form-group>          
        </b-col>
        <b-col>
          <b-form-group
            id="input-group-2"
            label="Identificación:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="form.identification"
              type="text"
              placeholder="Número de Identificación"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-3"
            label="Primer Apellido:"
            label-for="input-3"
          >
            <b-form-input
              id="input-3"
              v-model="form.firstSurname"
              type="text"
              placeholder="Primer Apellido"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="input-group-4"
            label="Segundo apellido"
            label-for="input-4"
          >
            <b-form-input
              id="input-4"
              v-model="form.secondSurname"
              type="text"
              placeholder="Segundo apellido"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>      
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-5"
            label="Primer Nombre:"
            label-for="input-5"
          >
            <b-form-input
              id="input-5"
              v-model="form.firstName"
              type="text"
              placeholder="Primer Nombre"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="input-group-6"
            label="Otros nombres"
            label-for="input-6"
          >
            <b-form-input
              id="input-6"
              v-model="form.otherNames"
              type="text"
              placeholder="Otros nombres"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-7"
            label="País"
            label-for="input-7"
          >
            <b-form-select
              id="input-7"
              v-model="form.country"
              :options="$store.state.listCountries"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-8"
            label="Área"
            label-for="input-8"
          >
            <b-form-select
              id="input-8"
              v-model="form.area"
              :options="$store.state.listAreas"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="isEditing">
        <b-col>
          <b-form-group
            id="input-group-9"
            label="Email"
            label-for="input-9"
          >
            <b-form-input
              id="input-9"
              v-model="form.email"
              type="email"
              required
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group
            id="input-group-10"
            label="Fecha de Ingreso"
            label-for="input-10"
          >
            <b-form-datepicker 
              id="example-datepicker" 
              v-model="form.admissionDate" 
              class="mb-2"
              :min="minAdmissionDate"
              :max="maxAdmissionDate"
              :state="dateValid"
            ></b-form-datepicker>
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>
    <b-row>
      <b-col cols="12" class="text-right">
        <b-button class="mt-3 mr-3" variant="outline-success" @click="saveData()">{{isEditing ? 'Actualizar' : 'Guardar'}}</b-button>
        <b-button class="mt-3" variant="outline-danger" @click="closeModal()">Cancelar</b-button>
      </b-col>
    </b-row>
  </b-modal>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
const moment = require('moment')

export default defineComponent({
  props: [
    "data",
    "show",
    "editing"
  ],
  data(){
    return { 
      isValid: true,
      dateValid: true,
      minAdmissionDate: new Date(moment().add(-31,'days')),
      maxAdmissionDate: new Date()
    }
  },
  computed: {
    isEditing():boolean{
      return this.$store.state.isEditing
    },
    titleModal():string{
      return this.$store.state.isEditing ? 'Editando Empleado' : 'Registrar Nuevo Empleado'
    },
    showModal():boolean{      
      return this.$store.state.showModal
    },
    form():any{
      return {
        identificationType: this.$store.state.employeeSelected.identificationType,
        identification: this.$store.state.employeeSelected.identification,
        firstSurname: this.$store.state.employeeSelected.firstSurname,
        secondSurname: this.$store.state.employeeSelected.secondSurname,
        firstName: this.$store.state.employeeSelected.firstName,
        otherNames: this.$store.state.employeeSelected.otherNames,
        country: this.$store.state.employeeSelected.country,
        email: this.$store.state.employeeSelected.email,
        area: this.$store.state.employeeSelected.area,
        admissionDate: this.$store.state.employeeSelected.admissionDate
      }
    }
  },
  methods:{
    saveData(){
      if(!this.validateForm()){        
        return;
      }
      if(this.$store.state.isEditing){        
        this.$store.dispatch('updateEmployee',{employee:this.form,id:this.$store.state.employeeSelected._id}).then(response => {          
          this.$bvToast.toast(response.data, {
            title: 'Administración de Empleados',
            autoHideDelay: 5000,
            variant: 'success',
            toaster: 'b-toaster-bottom-center'
          })
          this.closeModal()
        })
      }else{
        this.$store.dispatch('createEmployee',this.form).then(response => {          
          this.$bvToast.toast(response.data, {
            title: 'Administración de Empleados',
            autoHideDelay: 5000,
            variant: 'success',
            toaster: 'b-toaster-bottom-center'
          })
          this.closeModal()
        })
      }
    },
    closeModal(){           
      this.$store.dispatch('toggleModal')
      this.$store.dispatch('setEditing',false)
    },
    validateForm():boolean{
      if(this.form.identificationType &&
        this.form.identification && 
        this.form.firstSurname && 
        this.form.secondSurname && 
        this.form.firstName && 
        this.form.country && 
        this.form.area && 
        this.form.admissionDate
      ){
        this.isValid = true
      }else{
        if(!this.form.admissionDate){
          this.dateValid = false
        }
        this.isValid = false
        this.$bvToast.toast('Por favor complete los campos requeridos', {
            title: 'Administración de Empleados',
            autoHideDelay: 5000,
            variant: 'danger',
            toaster: 'b-toaster-bottom-center'
          })
      }    
      return this.isValid  
    }
  }
})
</script>

<style>

</style>